{% extends "base.rs.jinja" %}
{% block content %}
use axum::{ extract::{Path, Query, Json}, response::Json as JsonResponse, http::StatusCode };
use serde::{Serialize, Deserialize};
use utoipa::ToSchema;

{% for fn_sig in functions %}
#[utoipa::path(
    {{ fn_sig.http_method }}, 
    path = "{{ fn_sig.path }}",  
    tag = "{{ fn_sig.tag }}",
    

)]

{% endfor %}
{% endblock %}
