{% extends "base.rs.jinja" %}

{% block content %}
use axum::{
    Router,
    routing::{get, post, put, delete},
};
use super::handlers::*;

pub fn create_router() -> Router {
    Router::new()
    {% for route in functions %}.route("{{ route.path }}", {{ route.fn_name}}())
    {% endfor %}
}
{% endblock %}